@use "../../styles/global.scss" as g;

.color-primary {
    color: g.$color-primary;
}

.color-secondary {
    color: g.$color-secondary;
}

.color-link {
    color: g.$color-link;

    &:hover {
        color: g.$color-link-hover;
    }
}