.h-20 {
    height: 20%;
}


.h-30 {
    height: 30%;
}

.h-80 {
    height: 80%;
}

.h-87 {
    height: 87%;
}

.h-90 {
    height: 90%;
}

.vh-60 {
    height: 60vh!important;
}

.vh-80 {
    height: 80vh!important;
}

.w-90 {
    width: 90%;
}