$color-primary: orange;
$color-secondary: rgb(198 198 198);
$color-tertiary: rgb(184, 154, 100);
$color-link: #b3b3ff;
$color-link-hover: #8484d1;
$width-timeline-point: 11px;
$height-timeline-point: 11px;


.timeline-point {
    height: $height-timeline-point;
    width: $width-timeline-point;
    border-radius: 50%;
    border: 1px solid $color-primary;
}

.timeline-line-container {
    width: $width-timeline-point;
}

.timeline-line {
    border-right: 1px solid $color-primary;
    position: relative;
}